
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/setup.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRPG Session Setup</title>
    <script defer src="/static/setup.js"></script>
</head>
<body>
    <div class="container">
        <h2>Describe The Goal Of Your Promotion</h2>
        <div id="inputSection">
            <input type="text" id="descript">
        </div>
        <button onclick="submitForm()">Submit</button>
    </div>
</body>
</html>
